<!DOCTYPE html>
<html>
<head>
  <title>Superheros</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="top-half">
	<div class="header">
		<h2>Superheroes App</h2>
	</div>
	<div class="navbar">
		<ul>
			<li><%= link_to "Create New Hero", new_superhero_path %></li>
		</ul>
	</div>
	</div>
	<div class="shade">
	</div>
	<div class="content">
	<%= yield %>
	</div>

</body>
</html>
